data/fires.gpkg
data/labels/ifn
data/labels/ifn2_labels.gpkg
data/labels/ifn3_labels.gpkg
data/labels/ifn4_labels.gpkg
data/labels/label_ifn_codes.csv
data/labels/README.txt
data/lucas
data/models
data/predictor_variables
data/siose
Notebooks/check_borini_tile_erros.ipynb
Notebooks/fix_borini_tile_errors.ipynb
Notebooks/inspect_ifn2.ipynb
Notebooks/inspect_ifn3_4.ipynb
papers
results/logs
results/tile_extracted_values
Python/__pycache__
Python/train_models_deprecated.py
Python/classify.py
Python/create_composites.py
